@media screen and (max-width: 768px) {

    body {
        background-color: #EFEFF0;
    }

    header {
        display: flex;
    }

    .navbar {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .bar1, .bar2, .bar3 {
        width: 40px;
        height: 5px;
        background-color: #19191B;
        margin: 6px 0;
        box-shadow: 0px 1px 4px #19191B;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        color: #19191B;
        margin-top: 0px;
    }

    h2 {
        font-size: 28px;
        text-align: start;
        color: #19191B;
        padding: 20px;
    }

    h3 {
        font-size: 22px;
        text-align: start;
        margin: 25px;
        color: #19191B;
        padding: 10px;
    }

    p {
        font-size: 18px;
        color: #19191B;
        text-align: center;
    }

    .container_player {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        padding: 10px;
    }

    .player {
        height: 40px;
        width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 3px solid #70509D;
        border-radius: 30px;
        font-size: 50px;
        color: #70509D;
        background-color: #D2B3FC;
        box-shadow: 0px 1px 4px #19191B;
    }

    .play {
        display: flex;
        text-align: center;

    }

    .pause {
        display: flex;
        text-align: center;
    }

    .text_histoire {
        font-size: 18px;
        margin: 20px;
    }

    .text_img {
        display: flex;
        flex-direction: row;
    }

    .img_animation {
        margin: 20px;
        border: 2px solid black;
        height: 150px;
        text-align: center;
    }

    .bar_exp {
        height: 50px;
        border: 3px solid #70509D;
        border-radius: 25px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 10px;
    }

    .progression {
        background-color: #D2B3FC;
        border-radius: 25px;
        width: 50%;
    }

    .text_bar {
        margin-right: 10px;
    }

}